
body{
  
  /* background: rgb(214, 214, 214); */
  font-family: 'Montserrat', sans-serif;
  display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("Dark background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
}

.img{
  width: 50px ;
  height: 50px;
}

.main{ 
  max-width: 575px;
  /* background-color: white; */
  width: 300px;
  height: 450px;
  border-radius: 20%;
  box-shadow: -8px -8px 20px 0 rgba(255, 255, 255, 0.9),
    8px 8px 20px 0 rgba(0, 0, 0, 0.3);
  margin: 0 35%;
  padding: 32px 16px;
  flex-direction: column;
  background-image: url("abstract.jpg");
  background-repeat: no-repeat;
  /* background-size: 300px 100px; */
  background-size: 100% 110%;

  
  
}
.cla{
  font-size: xx-large;
  margin-top: 35px;
  font-weight: bold;
  color: #f50c0c;
}

.stop{
  font-size: 31px;
  color: gold;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  text-shadow: 20%;
}

.heading{
  text-align: center;
  background-image: url("abstract.jpg");
   border-bottom: 40%;
   box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);
  justify-content: center;
   display: flex;
   font-size: 10pt;
  margin:  10px;
  margin-top: 20px;
  border-radius: 30%; 
  
  
}
.head{

  font-style: normal;
  font-size: 35px;
  width: 30px;
  padding: 10px;
 color: red; 

 
  
}




.bottam1{
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  
  
}

.btn:hover {
  transform: scale(1.1);
  border-radius: 50%;
  outline: 0px solid transparent;
  }


.btn{
  background-image: url("abstract.jpg");
  color: white;
  border-color: black;
  font-weight: bolder;
 font-size: 25px;
  /* background: rgb(214, 214, 214); */
  margin-top: 100px;
   width: 90px;
   height: 70px;
 float: left;
 margin: 10px;
 border-radius: 50%;
 box-shadow: -7px -7px 20px 0 rgba(255, 255, 255, 0.9),
    7px 7px 20px 0 rgba(0, 0, 0, 0.3);
    transition: 0.2s;
 }
 .ppp{
   color: gold;
  display: flex;
  justify-content: center; 
  }
